<div class="toolbar" role="banner">
  <p id='page-title'>Clash Deck</p>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <div id='input-container'>
    <input type="text" placeholder='Player' [(ngModel)]='player'>

    <input type="text" placeholder='Trophies' [(ngModel)]='trophies'>
  </div>


  <div *ngIf='!showLoading' id='deck-container'>
    <div class='deck-card' *ngFor='let card of deck'>
      <p class='card-name'>{{card.card_name}}</p>
      <img src="{{card.card_url}}" alt="">
    </div>    
  </div>

  <div *ngIf='showLoading' class="lds-grid">
    <div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div>
  </div>

</div>

<div id='info'>
  <i (click)='showInfo()' class="fa-solid fa-circle-question"></i>
</div>

<div *ngIf='showOverlay' id='overlay'></div>

<div *ngIf='showOverlay' id="myModal" class="modal">

  <div class="modal-content">
    <p (click)='closeInfo()' id="close-info">&times;</p>
    <div id='clash-deck-info'>
      <h2>Clash Deck Info</h2>
      <p>Enter your Clash Royale opponent's name and trophy count before a game starts.
        Once the correct player is found their deck will be displayed.</p>  
    </div>
  </div>

</div>

<router-outlet></router-outlet>
